
    
<div class="{{containerClass}}">
    {% set articleImg = networkData.templatePath ~ '/static/images/nzlife.png' %}

    <a  href="http://thisnzlife.co.nz" 
        target="_blank"
        class="card" 
        data-article-image="{{articleImg}}">

        <article class="">
            <figure class="">
                    <img class="img-responsive" data-original="{{articleImg}}" src="{{articleImg}}">
            </figure>

            <div class="content">
                <h2>Latest issue of <br />NZ Life & Leisure</h2>
            </div>
        </article>
    </a>
</div>

