<section class="subscribe {{class}}">
    <a target="_blank" href="https://www.hivenews.co.nz/users/new"><button>Subscribe Now</button></a>
    <img class="pro" src="{{networkData.templatePath}}/static/images/newsroom_pro.svg" alt="newsroom wordmark">
    <p>Get full access to our specialised news service for corporate clients for $29 per month, includes tailored daily emails and analysis.</p>
</section>


