<section class="subscribe form">
    <h3>Subscribe to</h3>
    <img src="{{networkData.templatePath}}/static/images/newsroom-logo.svg" alt="newsroom wordmark">
    <form method="get" id="subscribe-form" class="subscribe-form" action="#">
        <label for="header-search" class="assistive-text sr-only">Search</label>
        <div class="input-group">
            <input type="email" class="field form-control" name="email" placeholder="Email address" required="">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" id="searchsubmit">
                    <span class="icon-right-small"></span>
                </button>
            </span>
        </div>
    </form>
</section>