.fixadd {
    position:fixed;
}


.add{

    z-index:1024;

    .add-text{
        color: $gray-text;
        font-size: em(12);
    }

    &.sidebar-add{
        margin-bottom: 50px;
        // margin-top: 50px;
        // text-align:center;

        @media screen and (max-width: $md-break){
            .block > a{
                display: block;
            }
        }
        @media screen and (max-width: $sm-break){
            
        }
        .add-text{
            float: left;

            @media screen and (max-width: $md-break){
                width: 300px;
                display: block;
                margin: 0 auto;
            }
            
            @media screen and (max-width: $mmd-break){
                float: none;
            }



        }
        > div {
            margin: 0 auto;
            > div {
                margin: 0 auto;
            }
        }
        > span {

        }
    }

    &.lg-block{
        text-align: center;
        margin-bottom: 70px;
            
        .block{
            img{
                margin-left: auto;
                margin-right: auto;
            }
        }
        .add-text{
            display: block;
            text-align: right;
            width: 970px;
            margin: 0 auto;
            @media screen and (max-width: $md-break){
                width: 100%;
            }
        }
    }

}
.add-header-top{
    width: 100%;
    // background-color: $gray-bck;
    // text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    > div {
        margin: 0 auto;
        > div > iframe {
            margin:0 auto;
        }
    }

    @media screen and (max-width: 767px){
        display: none;
    }

    .block{
        display: block;
        margin: 0 auto;

        img{
            margin-left: auto;
            margin-right: auto;
        }
        
        .add-text{
            display: block;
            text-align: right;
            width: 970px;
            margin: 0 auto;
            @media screen and (max-width: $mmd-break){
                width: 100%;
            }
        }
    }
}

.add-header-mob{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .block{
        display: block;
        margin: 0 auto;

        img{
            margin-left: auto;
            margin-right: auto;
        }
        
    }

    > div {
        margin: 0 auto;
    }

}