.featured-slider{
    margin-bottom: 22px;
    @media screen and (max-width: $sm-break){
        margin-left: -15px;
        margin-right: -15px;
    }
    .newsroom-icon{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 201px;
        z-index:100;
        @media screen and (max-width:1600px){
            width: 115px;
        }

        @media screen and (max-width: $mmd-break){
           width: 65px;
        }

        img{
            max-width: 100%;
        }
    }

    .card{
        height: 587px;

        @media screen and (max-width:1600px){
            height: auto;
        }

        @media screen and (max-width: $sm-break){
            position: relative;
            height: 350px;
            overflow: hidden;

            // &:before{
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     content: '';

            //     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.36+65,1+100 */
            //     background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.36) 65%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
            //     background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.36) 65%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
            //     background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.36) 65%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

            // }
        }
        
        > article {
            background:orange;
            width:100%;
            height:100%;
            // line-height:587px;

            white-space: nowrap;
        }

        figure{
            line-height:normal;
            vertical-align:top;
            width: 1168px;
            display:inline-block;
            &:before{
                @media screen and (max-width: $sm-break){
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    z-index: 1;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.36+65,1+100 */
                    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.36) 65%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.36) 65%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.36) 65%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
                }
            }
            img{
                max-width: 100%;

                @media screen and (max-width: $sm-break){
                    width: 100%;
                    height: 100%;
                }
                @media screen and (max-width: $mobile-break){
                    height: 100%;
                    max-width: initial;
                    position: relative;
                    left: -15%;
                    width: initial;
                }
                @media screen and (max-width: 410px ){
                    left: -50%;
                }
            }

            @media screen and (max-width:1600px){
                width: 65%;
            }

            @media screen and (max-width: $sm-break){
                width: 100%;
                height: 350px;
            }
        }

        .content{
            width: 400px;
            display:inline-block;
            vertical-align:top;
            line-height:normal;
            background:red;
            //border: solid 1px #7e8084;
            height: 100%;
            padding: 178px 29px 36px 31px;
            z-index: 2;
            @media screen and (max-width:1600px){
                width: 35%;
                padding: 140px 15px 0 15px;
            }

            @media screen and (max-width: $mmd-break){
                padding: 42px 15px 15px 15px;
            }

            @media screen and (max-width: $sm-break){
                width: 100%;
                position: absolute;
                bottom: 0;
                padding:0px 20px;
                height: auto;
                color: #FFF;
            }

            .category{
                margin-bottom: 10px;
                display: block;

                @media screen and (max-width: $sm-break){
                    color: #FFF;
                }
            }

            h2{
                padding-bottom: 35px;
                margin-bottom: 8px;

                @media screen and (max-width:1330px){
                    font-size: em(34);
                }

                @media screen and (max-width: $md-break){
                   font-size: em(24);
                }

                @media screen and (max-width: $mmd-break){
                   padding-bottom: 5px;
                }

                @media screen and (max-width: $sm-break){
                     font-size: em(28);
                     border: 0;
                }
            }
            
            > p {
                height:70px;
            }

            .author{
        
                margin-top:45px;
                padding-top: 5px;
                border-top: solid 1px #dadada;

                @media screen and (max-width: $sm-break){
                    img{
                        display: none;
                    }
                    p{
                        padding: 0;
                        color: #FFF;
                    }
                }
            }

            time{

                margin-top:50px;

                @media screen and (max-width: $sm-break){
                    font-size: em(10);
                    border: 0;
                    color: #FFF;
                    font-weight: normal;
                }
            }
        }
    }
}