.card-lg-screen{
    margin-bottom: 45px;

    a.card{
        height:100%;
        position: relative;
        overflow:hidden;

        &:after{
            content: '';
            opacity: 0.4;
            background-color: #000;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }





        > article {

            > figure{
                position: absolute;
                left: 0;
                top: 0;
                height:100%;
                width: 100%;


                > img{
                    max-width: 100%;
                }
            }


            > .content{
                height:100%;
                padding: 60px 100px 0 24px;
                margin-bottom: 10px;
                z-index: 100;
                position: relative;
                color: #FFF;

                > .category{
                    order:1;
                    font-size: rem(11);
                    font-weight: normal;
                    color: white;
                    display: block;
                    line-height: 1;
                    margin-bottom:4px;

                }

                > p {
                    order:3;
                    display:block;
                    font-size: rem(22);
                    font-size: 1.8vw;
                    line-height: 1.27;
                    // margin-top:40px;

                }


                > .author{
                    display:none;                    
                }

                > time{
                    position: absolute;
                    bottom: 20px;
                    order:4;
                    padding:0;
                    font-style:italic;
                    font-family:$font-family-serif;
                    color: #dadada;
                }
            }
        }


        &.facebook{
            .category {
                order:2;
                visibility:hidden;

                &:before {
                    visibility: visible;
                    order:1;
                    content: '';
                    width:25px;
                    height:25px;
                    background-image: url('../images/facebook.svg');
                    background-position:center;
                    background-size: contain;
                    background-repeat:no-repeat;
                    display:block;
                    margin-bottom:18px;
                }
            }
        }
        &.twitter{
            .category {
                visibility:hidden;

                &:before {
                    visibility: visible;
                    content: '';
                    width:25px;
                    height:25px;
                    background-image: url('../images/twitter.svg');
                    background-position:center;
                    background-size: contain;
                    background-repeat:no-repeat;
                    display:block;
                    margin-bottom:18px;
                }
            }
        }

        &.instagram{

            >p {
                display:none;
            }

            .category {
                visibility:hidden;

                &:before {
                    visibility: visible;

                    content: '';
                    width:25px;
                    height:25px;
                    background-image: url('../images/instagram.svg');
                    background-position:center;
                    background-size: contain;
                    background-repeat:no-repeat;
                    display:block;
                    margin-bottom:18px;
                }
            }
        }      

    }
}