.card-lg-screen{
    margin-bottom: 45px;

    a.card{
        height:100%;
        position: relative;
        overflow:hidden;


        > article {

            padding-left:80px;

            > figure{
                position: absolute;
                left: 80px;
                top: 0;
                height:100%;
                width: 57%;

                > img{
                    max-width: 100%;
                }
            }


            > .content{
                height:100%;
                padding: 60px 100px 0 24px;
                margin-bottom: 10px;
                z-index: 100;
                // position: relative;
                color: #FFF;

                > .category{
                    order:1;
                    font-size: rem(11);
                    font-weight: normal;
                    color: white;
                    display: block;
                    line-height: 1;
                    margin-bottom:4px;

                }

                > p {
                    order:3;
                    display:block;
                    font-size: rem(50);
                    font-size: 4vw;
                    line-height: 1.27;
                    width:55%;
                    // margin-top:40px;

                }


                > .author{
                    position:absolute;
                    top:0;
                    right:10px;
                    color:white;



                    >p {
                        font-weight:normal;
                        color:white;
                        &:before {
                            content: '@';
                            font-size:rem(16);
                        }
                    }
                    // display:none;                    
                }

                > time{
                    position: absolute;
                    bottom: 20px;
                    order:4;
                    padding:0;
                    font-style:italic;
                    font-family:$font-family-serif;
                    color: #dadada;
                }
            }
        }

        &.social.withImage__content {
            .content {
                >p {
                    display:none;
                }
            }
        }


        &.social.without__image {
            .content {
                // position: absolute;
                // left: 80px;
                // top: 0;
                height:100%;
                width:57%;
                background: #ec8235;
                // background:rgba(200,0,0,.3);

                // padding-top:87px;
                @media screen and (max-width: $mobile-break){
                    padding-top:10px;
                }

                > p {
                    // font-size: rem(70);
                    font-size: 7.5vh;
                    color:#fff;
                    display: block;
                    width: 100%;
                    margin-bottom: 18px;
                }


            }
        }

        &.facebook{
            .category {
                order:2;
                visibility:hidden;

                &:before {
                    visibility: visible;
                    position: absolute;
                    left: 0px;
                    top:0;
                    order:1;
                    content: '';
                    width:25px;
                    height:25px;
                    background-image: url('../images/facebook.svg');
                    background-position:center;
                    background-size: contain;
                    background-repeat:no-repeat;
                    display:block;
                    margin-bottom:18px;
                }
            }
        }
        &.twitter{
            .category {
                visibility:hidden;

                &:before {
                    visibility: visible;
                    position: absolute;
                    left: 0px;
                    top:0;
                    content: '';
                    width:36px;
                    height:36px;
                    background-image: url('../images/twitter.svg');
                    background-position:center;
                    background-size: contain;
                    background-repeat:no-repeat;
                    display:block;
                    margin-bottom:18px;
                }
            }
        }

        &.instagram{

            >p {
                display:none;
            }

            .category {
                visibility:hidden;

                &:before {
                    visibility: visible;
                    position: absolute;
                    left: 0px;
                    top:0;

                    content: '';
                    width:25px;
                    height:25px;
                    background-image: url('../images/instagram.svg');
                    background-position:center;
                    background-size: contain;
                    background-repeat:no-repeat;
                    display:block;
                    margin-bottom:18px;
                }
            }
        }      

    }
}