.card-vr{

    margin-bottom: 79.5px;
    @media screen and (max-width: $mobile-break){
        margin-bottom: -2px;
    }


    &.inverted{
        @media screen and (min-width: $mobile-break){
            > a.card{
                background-color: #000;
                color: #FFF;
                
                > article { 
                    -ms-flex-direction: row-reverse;
                    -webkit-flex-direction: row-reverse;
                    flex-direction: row-reverse;
                }

                > article > .content{

                        > .category{
                            color: #27aae1;
                        }

                        > .author p{
                            color: #FFF;
                        }

                        > time{
                            color: #FFF;
                        }
                        > p {
                            display: none;
                        }
                }
            }
        }
    }


    a.card{

        @media screen and (max-width: $mobile-break){
            height: 115px;
            margin-left: -15px;
            margin-right: -15px;
            border-top: 2px solid #dadada;
            border-bottom: 2px solid #dadada;
            height: auto;
            
            > article {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;

                flex-wrap: nowrap;
                -webkit-flex-wrap: nowrap;
            }    
        }

        > article > figure{
            width: auto;
            overflow: hidden;
            height:215px;

            @media screen and (max-width: $mobile-break){
                width: 125px;
                flex: 0 0 125px;
            }

            > img{
                max-width: 100%;
            }
        }

        > article > .content{
            position:relative;
            height: 139px;

            padding: 13px 0;
            @media screen and (max-width: $mobile-break){
                padding: 10px;
                border: 0;
            }

            > .category{
                font-size: em(14);
                font-weight: bold;
                color: #ebb913;
                display: block;
                line-height: 1;
                margin-bottom: 8px;
                @media screen and (max-width: $mobile-break){
                    font-size: em(11);
                    margin-bottom: 5px;
                }
            }

            > h2{
                margin-top:10px;
                font-family: $base-font-family;
                font-weight: normal;
                line-height: 1.14;
                color: #000000;
                font-size: em(26);

                @media screen and (max-width: $mobile-break){
                    font-size: em(16);
                }
            }

            > .author{
                display: none;
            }

            > time{
                // position:absolute;
                // top:15px;
                // left:100px;
                float: none;
                padding: 0;
                border: 0;
                color: #8a8b93;
                // border-left: 1px solid black;
                @media screen and (max-width: $mobile-break){
                    color: #6c6c6c;
                    font-size: em(10);
                }
            }

            p {
                display: none;
            }
        }




        &.youtube{
            .content{
                p{
                    display:block;
                    background:green;
                    font-size: 28px;
                    font-weight: normal;
                }
            }
        }
        &.facebook{
            .content{
                p{
                    display:block;
                    background:green;
                    font-size: 28px;
                    font-weight: normal;
                }
            }
        }
        &.pinterest{
            .content{
                p{
                    display:block;
                    background:green;
                    font-size: 28px;
                    font-weight: normal;
                }
            }
        }
        &.vimeo{
            .content{
                p{
                    display:block;
                    background:green;
                    font-size: 28px;
                    font-weight: normal;
                }
            }
        }

        &.twitter{
            .content{
                p{
                    display:block;
                    background:green;
                    font-size: 28px;
                    font-weight: normal;
                }
            }
        }

        &.instagram{
            .content{
                p{
                    display:block;
                    font-size: 28px;
                    font-weight: normal;
                }
            }
        }

    }
}