.page {
    &.page-speakers {
        
        p, li {
            font-size: rem(17);
            font-weight:300;
            line-height:34px;
        }
        
        p {
            margin-bottom:20px;
        }

        h3.mainhead {
            font-size: rem(56);
            text-align:center;
            border-bottom: 1px solid #d2d2d2;
            padding-bottom: 100px;
            // margin: 100px 0;
        }

        .speaker-photo{
            text-align: center;
        }

        .speaker, .diversity {
            margin-top:60px;
            border-bottom: 1px solid #d2d2d2;
            padding-bottom:60px;

            h1 {
                font-weight:300;
                font-size: rem(37);
                color: rgb(0, 102, 153);
                margin-bottom:15px;
            }

            h3 {
                font-weight:300;
                color: rgb(17,17,17);
                font-size: rem(27);
            }

            h4{
                margin-bottom:20px;
                font-size: rem(25);
                font-weight:300;
                line-height:34px;
            }

        }

        .diversity {
            border:none;
            h1 {
                color:black;
            }
        }

        .diversity-head {
            > h1 {
                color:black;
                margin-top:60px;
                font-weight:700;
                font-size: rem(36);
                margin-bottom:24px;
            }
            >p {
                font-size: rem(24);
                line-height:48px;
            }

        }

    }
}

