body.channel.contact{
    h1{
        font-family:$font-family-sans-serif;
        font-size: em(47);
        font-weight: bold;
        margin-bottom: 45px;
        padding-bottom:30px;
        border-bottom:1px solid #dadada;
    }

    h2{
        font-family:$font-family-sans-serif;
        font-size: em(22);
        font-weight: bold;
        margin-top:10px;
        margin-bottom:5px;
        padding:0;

        &:first-child {
            margin-top:0;
        }



    }

    p {
        font-size: em(20);

        span {
            margin-top: 10px;
            display: block;        }
    }

    a.red {
        color: #d8181b;
    }

    // input, textarea {
    //     padding:10px;
    //     display:block;
    //     width:100%;
    //     // height:37px;
    //     -moz-border-radius: 15px;
    //     -webkit-border-radius: 15px;
    //     border-radius: 15px; /* future proofing */
    //     -khtml-border-radius: 15px; /* for old Konqueror browsers */
    //     border: solid 1px #dadada;
    //     margin-bottom:12px;
    // }

    // textarea {
    //     height:112px;
    // }



    // .form {
    //     p {
    //         font-size: em(13);
    //     }
        

    //     button {
    //         width: 160px;
    //         height: 45px;
    //         background-color: #e22f22;
    //         border: solid 1px #e12e21;
    //         color:white;
    //     }

    // }



    // h2{
    //     font-size: em(33);
    //     font-weight: normal;
    //     font-style: italic;
    //     border-bottom: solid 1px #dadada;
    //     padding-bottom: 10px;
    //     margin-bottom: 60px;
    // }
    // p{
    //     font-size: em(20);
    //     line-height: 1.45;
    // }
}