.page-hero{
    height: 520px;
    text-align: center;
    

    .image-wrapper{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center top;
    }

    .category{
        background-color: #000;
        color: #FFF;
        font-weight: 900;
        font-size: 0.92308em;
        text-transform: uppercase;
        padding: 10px;
        margin-bottom: 17px;
        position: relative;
        top: -10px;
    }


    .video-overlay {
        position: absolute;
        line-height: 60px;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 60px;
        -webkit-transform: translate(-50%, -50%);
        /* Chrome, Safari, Opera */
        -moz-transform: translate(-50%, -50%);
        /* Mozilla Firefox */
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        /* IE 9 */
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    
    .video-overlay .icons .icon {
        width: 60px;
        height: 60px;
        position: absolute;
        line-height: 60px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        /* Chrome, Safari, Opera */
        -moz-transform: translate(-50%, -50%);
        /* Mozilla Firefox */
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        /* IE 9 */
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in; 
                &:before{ background:none }

        }


    .video-overlay .icons .icon:hover {
        border: 1px solid white;
        transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in; }

    .video-overlay .icons .icon i {
        font-size: 28px;
        color: #ffffff;
        width: 100%;
        text-align: center;
        margin-left: 4px;
        line-height: 60px;
        height: 100%; }

    

}