html {
    height:100%
}

body.screen {
    height:100%;
    background: #282c36;


  .site-footer{
    display:none;
  }
  .site-header {
    display:none;
  }
  .top-bar {
    display:none;
  }

  .main-screen {
    padding:25px;
  }

  a.card {
    margin:0;
  }

  .two-card-logo {
    position:absolute;
    bottom:15px;
    right:20px;

  

    >div {
      display:inline-block;
      position: relative;
      top: 10px;
      >p {
        vertical-align:bottom;
        margin-bottom: 19px;
        font-size: rem(14);
        display:inline-block;
        color:#fff;
      }
    }
  }

}
.top-row{
  padding-bottom:13px;

}
.bottom-row {
  padding-top:12px;
}
.screen-card {
  height:100%;
  margin:0 !important;
}

.full-height {
  height:100%;
}
.half-height {
  height:50%;
}

