.site-footer{
    width: 100%;
    margin-top: 60px;
    @media screen and (max-width: $sm-break){
        margin-top: 55px;
    }

    .footer-menu{
        padding-bottom: 26px;
        @media screen and (max-width: $sm-break){
            display: none;
        }
        > ul{
            @extend %ulmenu;

            > li{
                margin-right: 50px;

                > a{
                    color: #FFF;
                    text-transform: uppercase;
                }
            }
        }
    }

    .footer-top{
        background: #000;
        position: relative;
        // @media screen and (max-width: $sm-break){
        //     padding-top: 155px;
        // }
        .logo-wrapper{
            // @media screen and (max-width: $sm-break){
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     left: 0;
            // }
        }

        .icon-wrapper{
            position:relative;
            // width:100%;
            // @media screen and (max-width: $sm-break){
            //     position: absolute;
            //     top: 75px;
            //     width: 100%;
            // }

            span {
                display:none;

                @media screen and (max-width: $sm-break){
                    position:absolute;
                    bottom:0;
                    right:20px;
                    display: inline-block;
                    font-family: $font-family-sans-serif;
                    font-size:em(10);
                }

                a {
                    color:white;
                    text-decoration:none;
                }


            }
        }

        .footer-brand{
            display: inline-block;
            width: 64px;
            height: 71px;
            margin:40px 15px 60px 0;

            @media screen and (max-width: $sm-break){
                margin-bottom:30px;
            }

        }

        .contact {
            color:white;
            h2 {
                font-size: rem(14);
                margin-bottom:10px;
            }
            p {
                opacity:0.8;
                font-size: rem(14);
                font-weight:normal;
            }
            a {
                opacity:0.8;
                font-size: rem(14);
                color:white;
            }
        }

        .symbol{
            margin-right: 46px;
            padding-top: 15px;
            @media screen and (max-width: $sm-break){
                float: left;
            }
            @media screen and (max-width: $mobile-break){
                padding-top: 155px;
                width: 55px;
                padding-top: 45px;
            }
        }

        .footer_btn-lg{
            background-color: #e22f22;
            color: #FFF;
            padding-top: 20px;
            @media screen and (max-width: $sm-break){
                float: right;
            }

            > a {
                font-family: 'IM Fell Great Primer', serif;
                color: #FFF;
                font-size: 16px;
                font-weight: normal;

                }
            > div {
                background-color: white;
                margin-top: 20px;
                > input {
                     font-family: 'PT Sans', Tahoma, Arial, serif;
                     color: #000;
                }
            }
            


        }

        .footer-middle {
            margin-bottom:30px;
        }


        .social-links{

            > ul{
                margin-bottom:0;

                > li{
                    display:inline-block;
                    width:15px;
                    height:40px;
                    margin-right:10px;
                    > a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        &.facebook {
                            background: url('../images/facebook.svg') no-repeat center;
                        }
                        &.twitter {
                            background: url('../images/twitter.svg') no-repeat center;
                        }
                        &.vimeo {
                            background: url('../images/vimeo.svg') no-repeat center;
                        }
                    }
                }
            }
        }

        .publish-mobile {
            position:relative;

            span {
                color:white;
                font-size: em(10);
                font-family: $font-family-sans-serif;

                a {
                    color:white;
                    text-decoration:none;
                }
            }
        }


        .publish {
            height:80px;
            position:relative;
            vertical-align:bottom;

            span {
                position:absolute;
                bottom:0;
                right: 15px;
                color:white;
                font-size: em(11);
                font-family: $font-family-sans-serif;

                a {
                    color:white;
                    text-decoration:none;
                }


            }
        }

        .section-links-mobile{
            margin-bottom:35px;

            > ul{
                @extend %ulmenu;
                @media screen and (max-width: $sm-break){
                    display: block;
                    padding-top: 15px;
                }
                li{
                    
                    margin-right: 50px;
                    &:last-child{
                        margin-right: 0;
                    }

                    @media screen and (max-width: $sm-break){
                        margin-bottom: 15px;
                    }

                    a{
                        font-size: rem(14);
                        display: block;
                        color:white;
                    }
                }
            }
        }

        .section-links{
            float: right;        
            @media screen and (max-width: $sm-break){
                float: left;
            }       
            > ul{
                @extend %ulmenu;
                @media screen and (max-width: $sm-break){
                    display: block;
                    padding-top: 15px;
                }
                li{
                    
                    margin-right: 50px;
                    &:last-child{
                        margin-right: 0;
                    }

                    @media screen and (max-width: $sm-break){
                        margin-bottom: 15px;
                    }

                    a{
                        font-size: rem(14);
                        display: block;
                        color:white;
                    }
                }
            }
        }


    }

    // .footer-btm{
    //     padding-top: 12px;
    //     padding-bottom: 14px;

    //     .footer-menu {
    //         position:relative;
    //         display: block;
    //         padding-bottom: 0;
    //         margin-left: -15px;
    //         margin-right: -15px;

    //         @media screen and (max-width: $sm-break){
    //             border-bottom: solid 1px #d4d4d4;
    //         }
    //         > ul{
    //             padding-left: 15px;
    //             > li {
    //                 margin-right: 30px;
    //                 @media screen and (max-width: $sm-break){
    //                     margin-right: 20px;
    //                 }
    //             }
    //         }

    //     }

    //     .footer-menu > ul > li > a {
    //         color: #000;
    //         font-size: em(14);
    //         text-transform: none;
    //     }


    // }
}