.site-header {
    padding:0;
    max-width:none;

    .site-header-main {
        background:#333333;
        height: 70px;


        @media screen and (max-width: $mobile-break){
            padding-top: 0;
            height: 60px;

        }
        
        input.field {
            font-size: rem(20);
        }

        .navbar-brand {
            padding:0;
            height:80px;
            @media screen and (max-width: $mobile-break){
                height:60px;
                padding:8px;
            }
            > img.text-logo {
                @media screen and (max-width: $mobile-break){
                    width:170px;
                }
                @media screen and (max-width: 420px){
                    width:140px;
                }
            }
            
            > img.main-logo {
                height:70px;
            }

        }
        .navbar-right {
            margin-top:25px;
            @media screen and (max-width: $mobile-break){
                margin-top:12px;
            }



            .section-links ul {
                li {
                    display:inline-block;
                    margin-right:37px;
                    
                    a {
                        font-family: $base-font-family;
                        font-size: rem(14);
                        color:white;
                        letter-spacing: 2.2px;
                    }
                }
                li.menu-item-search {
                    width:40px;
                    a {
                        display:block;
                    }
                }
            }
        }




    }

    .site-header-buffer {
        height:15px;
        background:black;

        @media screen and (max-width: $mobile-break){
            display:none;
        }
    }


}