
// background: #e22f22;
//     color: white;
//     border: none;
//     padding: 10px 15px;

.article {
    .subscribe{
        padding:10px 0;
        margin:0;
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        text-align:left;

        > p {
            color: #e22f22;
            margin:0;
            font-size: em(14);

            > span {
                position:relative;
                top:2px;
                padding-top:5px;
                font-size: em(20);
            }
        }
    }
}


.subscribe{
    // padding-top: 60px;
    text-align: center;
    margin-bottom: 80px;


    @media screen and (max-width: $mobile-break){
        padding-top: 60px;
    }


    &.form {
        display:none;
        @media screen and (max-width: $sm-break){
            display:block;
        }
    }


    h3{
        font-size: em(20);
        font-weight: 700;
        margin-bottom:2px;
    }

    img {
        width: 158px;
    }

    img.pro {
        width: 295px;
    }


    > .subscribe-form{
        margin-top: 27px;
        margin-bottom: 19px;
        
        input.field{
            height: 42px;
            border-radius: 0;
            border: solid 1px #000000;
            border-right: 0;
            color: #6c6c6c;
            font-size: em(18);
        }

        .btn{
            border-radius: 0;
            border: solid 1px #000000;
            border-left: 0;
            padding: 0;
            font-size: 25px;
            height: 42px;
            line-height: 1;
            color: #f83d30;
        }
    }

    > a > button {
        width: 160px;
        height: 45px;
        font-size: em(16);
        display:block;
        margin: 0 auto 42px auto;
        color: white;
        background: #e22f22;
        border: 1px solid #e12e21;
        padding: 10px 20px;
    }

    > p {
        margin:20px auto;
        width:75%;
    }
}