    <main id="main" class="site-main" role="main">
        <article class="contact-main">
            <div class="container">
                <h1>Contact us</h1>

                <div class="col-sm-12 col-md-4">
                    <h2>For subscription help please call:</h2>
                    <p>
                        Newsroom NZ Ltd  <br />
                        First Floor, 48 George Street <br />
                        Kingsland  <br />
                        Auckland 1024<br />
                        <span>Phone: +64 9 869 2940</span>
                    </p>
                </div>

                <div class="col-sm-12 col-md-4">
                    <h2>General contact and news tips</h2>
                    <p><a href="mailto:contact@newsroom.co.nz">contact@newsroom.co.nz</a></p>
                    <h2>Mark Jennings, Co-editor</h2>
                    <p><a href="mailto:mark.jennings@newsroom.co.nz">mark.jennings@newsroom.co.nz</a></p>
                    <h2>Tim Murphy, Co-editor</h2>
                    <p><a href="mailto:tim.murphy@newsroom.co.nz">tim.murphy@newsroom.co.nz</a></p>
                </div>
                
                <div class="col-sm-12 col-md-4">
                    <h2>Newsroom Pro queries</h2>
                    <p><a href="mailto:bernard.hickey@newsroom.co.nz">bernard.hickey@newsroom.co.nz</a></p>
                    <h2>Mailing list queries</h2>
                    <p><a href="mailto:briefing@newsroom.co.nz">briefing@newsroom.co.nz</a></p>
                </div>



{#                 <div class="col-sm-12 col-md-6 form">
                    <form action="#" method="post">
                        <input type="text" name="name" placeholder="Name">
                        <input type="text" name="email" placeholder="Email address">
                        <input type="text" name="phone" placeholder="Telephone (optional)">
                        <input type="text" name="company" placeholder="Company (optional)">
                        <input type="text" name="subject" placeholder="Subject">
                        <textarea name="message" placeholder="Message"></textarea>
                        <button ="submit">Send message</button>
                    </form>
                </div>

 #}

            </div><!-- .container -->
        </article><!-- .article-main -->
    </main><!-- .site-main -->
