{% set page = _Page.getPageData(slug) %}

{{ set(this, 'title', page.title | raw) }}

<!-- Begin Container -->
<div class="page_section">
    <section class="container-fluid" style="max-width:none">
        <!-- Begin Terms -->
        <div class="content-wrap">
            <!-- <h3 class="sub-heading">{{page.title | raw}}</h3> -->
            <div class="row">
                <div class="col-full">
                    <div class="content_area is-wrapper">


                         <div class="is-section is-box is-section-20 is-align-left">
                            <div class="is-boxes">
                                <div class="is-box-centered is-content-top">
                                    <div class="is-container is-builder container edge-x-0 is-content-1100" id="contentareavMrO8">
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>AGENDA</h1>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="dayheader">DAY 1: WEDNESDAY MAY 31, 2017</h1>
                                            </div>
                                        </div>

                            
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="timeheader">8.00am: REGISTRATION OPENS</h1>
                                            </div>
                                        </div>


                            

                                        <div class="row speaker">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495506415/pyvsa7l9xg1gxse3ywpt.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">
                                            </div>

                                            <div class="col-md-8">
                                                <h1>Ken Segall – <i>Marketing</i></h1>
                                                <p>Former Ad Agency Creative Director at Apple</p>
                                                <p>9:00am – 10:30am</p>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="timeheader">10.30am – 11.00am: COFFEE BREAK</h1>
                                            </div>
                                        </div>


                                        <div class="row speaker">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495506415/zxb7uicnxqhr0cfuqi83.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true" alt="">
                                            </div>

                                            <div class="col-md-8">
                                                <h1>Rosabeth Moss Kanter – <i>Strategy</i></h1>
                                                <p>Globally Recognised Strategy Expert</p>
                                                <p>11:00am – 12:30am</p>
                                            </div>
                                        </div>

                           
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="timeheader">12.30pm – 2.00pm: LUNCH BREAK</h1>
                                            </div>
                                        </div>

                                        <div class="row speaker">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495506587/nyq2doltzxnzcgmociot.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">
                                            </div>

                                            <div class="col-md-8">
                                                <h1>Mohanbir Sawhney &nbsp;– <i>Innovation</i></h1>
                                                <p>Professor at the Kellogg School of Management</p>
                                                <p>2:00pm – 3:30pm</p>
                                            </div>
                                        </div>




                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="timeheader">COFFEE BREAK 3:30pmm – 4:00pm</h1>
                                            </div>
                                        </div>


                                        <div class="row speaker">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495506415/cnboajje07s1cf821duq.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">
                                            </div>
                                            <div class="col-md-8">
                                                <h1>Arianna Huffington – <i>New Management</i></h1>
                                                <p>Co-Founder, President and Editor-in-Chief, Huffington Post Media Group</p>
                                                <p>4:00pm – 5:30pm</p>
                                            </div>
                                        </div>

                            


                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="timeheader border-bottom">END DAY 1</h1>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="dayheader">DAY 2: WEDNESDAY JUNE 1, 2017</h1>
                                            </div>
                                        </div>


                                        <div class="row speaker" style="margin-top:0;border-top:none">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495506890/zu38znfpixpnea242jnp.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">
                                            </div>

                                            <div class="col-md-8">
                                                <h1>Daniel Goleman&nbsp;– <i>Emotional Intelligence</i></h1>
                                                <p>Renowned Psychologist and Leading Authority on Emotional Intelligence</p>
                                                <p>8:30am – 10:00am</p>
                                            </div>
                                        </div>

                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="timeheader">COFFEE BREAK 10:00am – 10:30am</h1>
                                            </div>
                                        </div>

                                        <div class="row speaker">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495507065/k6qfjmlpruexlhhhblrf.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">
                                            </div>

                                            <div class="col-md-8">
                                                <h1><a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/48-ian-williamson.html" title="">Ian Williamson</a>&nbsp;– <i>Leadership</i></h1>
                                                <p>Helen Macpherson Smith Chair of Leadership for Social Impact at the Melbourne Business School</p>
                                                <p>10:30am – 12:00pm</p>
                                            </div>
                                        </div>

                            
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="timeheader">LUNCH BREAK 12:00pm-1:30pm</h1>
                                            </div>
                                        </div>



                                        <div class="row speaker">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495507604/srkxvgesi4wokqefwivv.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">
                                            </div>

                                            <div class="col-md-8">
                                                <h1>Jimmy Wales&nbsp;– <i>Disruption</i></h1>
                                                <p>Founder of Wikipedia</p>
                                                <p>1:30pm – 2:30pm</p>
                                            </div>
                                        </div>

                                        <div class="row diversity">
                                            <div class="col-md-3">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495508869/samrkkwktvij0nmkuc58.jpg" style="border-radius: 500px;" alt="" data-pin-nopin="true">
                                                <h1>Christine Corbet</h1> 
                                            </div>

                                            <div class="col-md-3">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495508870/cvbacmwv6dnwjtnzysky.jpg" style="border-radius: 500px;" alt="" data-pin-nopin="true">
                                                <h1>Ashley Winnett</h1> 
                                            </div>

                                            <div class="col-md-3">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495508870/l8nvzn5vkcdd1pyfpta1.jpg" style="border-radius: 500px;" alt="" data-pin-nopin="true">
                                                <h1>Angela Mentis</h1> 
                                            </div>

                                            <div class="col-md-3">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495508870/p2lqoutsv6rixzzu9zo4.jpg" style="border-radius: 500px;" alt="" data-pin-nopin="true">
                                                <h1>Jody Evans</h1> 
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        <div class="row panel">
                                            <div class="col-sm-offset-4 col-md-8">
                                                <h1><i>Diversity Panel</i></h1>
                                                <p>Australia Post, Holden, NAB, Melbourne Business School</p>
                                                <p>2:30pm – 3:30pm</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="timeheader">COFFEE BREAK 3:30pm-4:00pm</h1>
                                            </div>
                                        </div>


                                        <div class="row speaker">
                                            <div class="col-md-4">
                                                <img width="180px" height="180px" src="https://res.cloudinary.com/cognitives/image/upload/v1495775038/fbesdskav7piqxjwttg7.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">
                                            </div>

                                            <div class="col-md-8">
                                                <h1>Randi Zuckerberg&nbsp;– <i>Digtal Transformation </i></h1>
                                                <p>Former Director of Marketing at Facebook</p>
                                                <p>4:00pm – 5:00pm</p>
                                            </div>
                                        </div>







                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="timeheader border-bottom">END DAY 2</h1>
                                            </div>
                                        </div>

                                        
                                        <div class="row disclaimer">
                                            <div class="col-md-12">
                                                <h1><b>SPEAKER AND EVENT TIMES ARE SUBJECT TO CHANGE</b></h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {# {{page.content | raw}} #}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>