{% set page = _Page.getPageData(slug) %}

{{ set(this, 'title', page.title | raw) }}

<!-- Begin Container -->
<div class="page_section">
    <section class="container-fluid" style="max-width:none">
        <!-- Begin Terms -->
        <div class="content-wrap">
            <!-- <h3 class="sub-heading">{{page.title | raw}}</h3> -->
            <div class="row">
                <div class="col-full">
                    <div class="content_area is-wrapper">
                        

                        <div class="is-section is-box is-section-20 is-align-left">
                            <div class="is-boxes">
                                <div class="is-box-centered is-content-top">
                                    <div class="is-container is-builder container edge-x-0 is-content-1100" id="contentareavMrO8">
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>aGENDA</h1>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="display">
                                                    <h1>Day 1: Wednesday May 31, 2017</h1>
                                                </div>
                                            </div>
                                        </div>

                            
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>8.00am: Registration Opens</h1>
                                            </div>
                                        </div>


                            

                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495506415/pyvsa7l9xg1gxse3ywpt.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">

                                                <div class="is-social edit"><br>
                                            </div>          
                                        </div>

                                        <div class="col-md-8">
                                            <h1>Ken Segall – <i>Marketing</i></h1>
                                            <p>Former Ad Agency Creative Director at Apple</p>
                                            <p>9:00am – 10:30am</p>

                                        </div>




                                                                  



                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>10.30am – 11.00am: CoFFEE BREAK</h1>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495506415/zxb7uicnxqhr0cfuqi83.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true" alt="">
                                            </div>

                                            <div class="col-md-8">
                                                <h1>Rosabeth Moss Kanter – <i>Strategy</i></h1>
                                                <p>Globally Recognised Strategy Expert</p>
                                                <p>11:00am – 12:30am</p>
                                            </div>
                                        </div>

                           

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>12.30pm – 2.00pm: Lunch Break</h1>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495506587/nyq2doltzxnzcgmociot.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">
                                            </div>

                                            <div class="col-md-8">
                                                <a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/47-mohan-sawhney.html">
                                                    <h1>Mohanbir Sawhney</h1>
                                                </a>
                                                <h1>&nbsp;– <i>Innovation</i></h1>
                                                <p>Professor at the Kellogg School of Management</p>
                                                <p>2:00pm – 3:30pm</p>

                                            </div>
                                        </div>

                            
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495506415/cnboajje07s1cf821duq.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">
                                            </div>
                                            <div class="col-md-8">
                                                <h1>Arianna Huffington – <i>New Management</i></h1>
                                                <p>Co-Founder, President and Editor-in-Chief, Huffington Post Media Group</p>
                                                <p>4:00pm – 5:30pm</p>
                                            </div>
                                        </div>

                            

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>End day 1</h1>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>Day 2: Wednesday june 1, 2017</h1>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495506890/zu38znfpixpnea242jnp.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">
                                            </div>
                                            
                                            <div class="col-md-8">
                                            <h1><a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/51-daniel-goleman.html">Daniel Goleman</a>&nbsp;– <i>Emotional Intelligence</i></h1>
                                            <p>Renowned Psychologist and Leading Authority on Emotional Intelligence</p>
                                            <p>8:30am – 10:00am</p>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12">

                                    <hr>

                                </div>

                            </div><div class="row"><div class="col-md-12">
                                    <h1 class="size-32 is-title1-32 is-title-lite is-upper"><span style="font-size: 18px;">Coffee break 10:00am – 10:30am</span></h1>
                                </div></div><div class="row">

                                <div class="col-md-12">

                                    <hr>

                                </div>

                            </div>

                        <div class="row"><div class="col-md-4">

                                    <img src="https://res.cloudinary.com/cognitives/image/upload/v1495507065/k6qfjmlpruexlhhhblrf.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">

                                    <div class="is-social edit"><br></div>          

                                </div>

                                <div class="col-md-8">

                                    <h1><span><div class="edit"><span style="color: rgb(0, 0, 0);"><a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/48-ian-williamson.html" title="" style="color: rgb(0, 0, 0);">Ian Williamson</a>&nbsp;</span>– <i>Leadership</i></div></span></h1>

                                    <p></p>Helen Macpherson Smith Chair of Leadership for&nbsp;<br><span style="font-size: 1.07em;">Social Impact at the Melbourne Business School</span><p>10:30am – 12:00pm</p>

                                </div></div>

                            



                            <div class="row">

                                <div class="col-md-12">

                                    <hr>

                                </div>

                            </div>

                        <div class="row"><div class="col-md-4">

                                    <img src="https://res.cloudinary.com/cognitives/image/upload/v1495507604/srkxvgesi4wokqefwivv.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">

                                    <div class="is-social edit"><br></div>          

                                </div>

                                <div class="col-md-8">

                                    <h1><span><div class="edit"><span style="color: rgb(0, 0, 0);"><a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/48-ian-williamson.html" title="" style="color: rgb(0, 0, 0);"></a></span><div class="edit"><a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/45-jimmy-wales.html" style="color: rgb(0, 0, 0);" title="">Jimmy Wales</a>&nbsp;– <i>Disruption</i></div><i></i></div></span></h1>

                                    <p></p>Founder of Wikipedia<span style="font-size: 1.07em;"></span><p>1:30pm – 2:30pm</p>

                                </div></div>

                            <div class="row">

                                <div class="col-md-12">

                                    <hr>

                                </div>

                            </div>

                        <div class="row">
                                <div class="col-md-3">
                                    <img src="https://res.cloudinary.com/cognitives/image/upload/v1495508869/samrkkwktvij0nmkuc58.jpg" style="border-radius: 500px;" alt="" data-pin-nopin="true">
                                    <p></p><div class="edit"><a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/40-diversity-panel.html" title=""><span style="color: rgb(0, 0, 0); font-size: 24px;">Christine Corbet</span></a></div><br><p></p> 
                                </div>

                                <div class="col-md-3">
                                    <img src="https://res.cloudinary.com/cognitives/image/upload/v1495508870/cvbacmwv6dnwjtnzysky.jpg" style="border-radius: 500px;" alt="" data-pin-nopin="true">
                                    <p></p><div class="edit"><a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/40-diversity-panel.html" title="" style="color: rgb(0, 0, 0); font-size: 24px;">&nbsp;Ashley Winnett,&nbsp;</a></div><br><p></p> 
                                </div>

                                <div class="col-md-3">
                                    <img src="https://res.cloudinary.com/cognitives/image/upload/v1495508870/l8nvzn5vkcdd1pyfpta1.jpg" style="border-radius: 500px;" alt="" data-pin-nopin="true">
                                    <p></p><div class="edit"><a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/40-diversity-panel.html" title=""><span style="color: rgb(0, 0, 0); font-size: 24px;">Angela Mentis</span></a></div><br><p></p> 
                                </div>

                                <div class="col-md-3">
                                    <img src="https://res.cloudinary.com/cognitives/image/upload/v1495508870/p2lqoutsv6rixzzu9zo4.jpg" style="border-radius: 500px;" alt="" data-pin-nopin="true">
                                    <p></p><div class="edit"><a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/40-diversity-panel.html" title="" style="color: rgb(0, 0, 0); font-size: 24px;">Jody Evans&nbsp;</a></div><br><p></p> 
                                </div>
                            </div>
                            
                            
                            
                        <div class="row"><div class="col-md-4"><br><div class="is-social edit"><br></div>          

                                </div>

                                <div class="col-md-8">

                                    <h1><span><div class="edit"><span style="color: rgb(0, 0, 0);"><a href="http://www.wbfsydney.com/world-business-forum-sydney-speakersspeakers/48-ian-williamson.html" title="" style="color: rgb(0, 0, 0);"></a></span><div class="edit"><a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/45-jimmy-wales.html" style="color: rgb(0, 0, 0);"></a></div></div></span></h1><div class="edit"><span style="font-size: 24px; color: rgb(0, 0, 0);"><i>Diversity Panel</i></span></div><div class="edit"><div class="edit"><span style="font-size: 1.07em;">Australia Post, Holden, NAB, Melbourne Business School</span><br></div><p><span style="font-size: 1.07em;">2:30pm – 3:30pm<br></span></p></div><p></p><p></p>

                                </div></div>

                            <div class="row">

                                <div class="col-md-12">

                                    <hr>

                                </div>

                            </div>

                        <div class="row"><div class="col-md-12">
                                    <h1><span style="font-size: 18px;">End Day 2</span></h1>
                                </div></div>

                            <div class="row">

                                <div class="col-md-12">

                                    <hr>

                                </div>

                            </div>

                        <div class="row"><div class="col-md-12">
                                    <h1 class="size-32 is-title1-32 is-title-lite is-upper"><b><span style="font-size: 16px;">Speaker and Event times are subject to change</span></b></h1>
                                </div></div></div>
                                    </div>

                                </div>
                            
                            </div>



                        {{page.content | raw}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>