{% set page = _Page.getPageData(slug) %}

{{ set(this, 'title', page.title | raw) }}

<!-- Begin Container -->
<div class="page_section">
    <section class="container-fluid" style="max-width:none">
        <!-- Begin Terms -->
        <div class="content-wrap">
            <!-- <h3 class="sub-heading">{{page.title | raw}}</h3> -->
            <div class="row">
                <div class="col-full">
                    <div class="content_area is-wrapper">

                        <div class="is-section is-box is-bg-grey is-section-auto is-dark-text">
                            <div class="is-overlay">
                                <div class="is-overlay-bg" style="background-image: url(contentbox/images/sample.jpg);"></div>
                                <div class="is-overlay-color" style="background-color: rgb(255, 235, 238); display: none;"></div>
                                <div class="is-overlay-content"></div>
                            </div> 


                            <div class="is-boxes">
                                <div class="is-box-centered is-content-top">
                                    <div class="is-container is-builder container is-content-980" id="contentareak8Pv6">
                                        

                                        <div class="row">
                                            <div class="col-md-12 center">
                                                <div class="display">
                                                    <h3 class="mainhead"><b>Speakers</b></h3>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row speaker">

                                            <div class="col-md-4 speaker-photo">

                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495082723/dyk5ulmdk12idxmqth1f.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true" alt="">

                                                <div class="is-social edit">
                                                    <a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
                                                    <a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
                                                    <a href="https://plus.google.com/"><i class="icon ion-social-googleplus" style="margin-right: 1em"></i></a>
                                                    <a href="mailto:you@example.com"><i class="icon ion-ios-email"></i></a>
                                                </div>          

                                            </div>

                                            <div class="col-md-8">

                                                <div>
                                                    <h1>Ken Segall</h1>
                                                    <h4><b>Marketing</b></h4>
                                                    <h4>Former Ad Agency Creative Director at Apple </h4>
                                                    <p><i>Leveraging the Power of Simplicity</i></p>
                                                    
                                                    <p>Ken Segall is the author of the bestselling book Insanely Simple. A creative director 
                                                        who worked side-by-side with Steve Jobs at both NeXT and Apple for 12 years, Ken Segall 
                                                        played a key role in Apple's post-1997 resurrection. He helped to create such critical 
                                                        ad-campaigns as 'Think Different' and come up with the 'i' before Apple's key products, 
                                                        playing a pivotal role in reviving the company from near death to one of the most 
                                                        admired and profitable companies in the world.</p>
                                                    <p>As an advertising executive by 
                                                        trade, Segall worked as a global creative director at Dell, IBM, Intel and BMW before 
                                                        joining Apple. It was at Apple, however, where he experienced first hand how Steve Jobs' 
                                                        obsession with simplicity became the driving force that informs every decision the 
                                                        company makes, from product design to advertising to the packaging of its products. 
                                                        Currently, Segall does creative work in branding and product naming for major brands, 
                                                        and serves as an advocate for how organizations can embrace the principles of simplicity 
                                                        to guide everything from innovation and organization, to sales and communication.</p>
                                                        
                                                    <h3>Topics </h3>
                                                    
                                                    <ul><li>In a complex world, how can we embrace the of simplicity to achieve extraordinary success</li>
                                                        <li>How the preference for simplicity is built into our DNA, and why given the choice, human beings will always choose the simpler path</li>
                                                        <li>The inside story on how Steve Jobs' obsession with simplicity helped Apple perform better and faster, saving millions in the process</li>
                                                        <li>Making simplicity the basis of everything your strategy</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row speaker">
                                            <div class="col-md-4 speaker-photo">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1494917934/cfzukl5j2tdojkslvuio.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true" alt="">

                                                <div class="is-social edit">
                                                    <a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
                                                    <a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
                                                    <a href="https://plus.google.com/"><i class="icon ion-social-googleplus" style="margin-right: 1em"></i></a>
                                                    <a href="mailto:you@example.com"><i class="icon ion-ios-email"></i></a>
                                                </div>          

                                            </div>

                                            <div class="col-md-8">

                                                <h1>Daniel Goleman </h1>
                                                <h4><b>Emotional Intelligence  </b></h4>
                                                <h4>Renowned psychologist and leading authority on emotional intelligence</h4>
                                                <p><i><b>Brainpower:</b> Mindsight and Emotional Intelligence in Leadership</i></p>
                                                <p>The world’s indisputable authority on emotional intelligence, Goleman’s contributions to the field of psychology have had a transformational impact on the world of business and beyond. He has been named by the Wall Street Journal and the Financial Times as one of their most influential business thinkers and is the author of numerous bestselling books including Emotional Intelligence and Focus.</p><p>The Harvard Business Review called emotional intelligence— which discounts IQ as the sole measure of one’s abilities — “a revolutionary, paradigm-shattering idea” and chose his article “What Makes a Leader” as one of ten “must-read” articles from its pages. Goleman has received many journalistic awards for his writing, including two nominations for the Pulitzer Prize, and a Career Achievement award for journalism from the American Psychological Association.</p><p>His 2014 bestseller, Focus: The Hidden Driver of Excellence, argues that leadership that gets results demands a triple focus: on our ourselves; on others, for our relationships; and on the outer forces that shape organizations and society. Goleman's "The Focused Leader" won the 2013 HBR McKinsey Award, given each year for the best article in Harvard Business Review.</p>
                                                
                                                <h3>Topics </h3>
                                                <ul>
                                                    <li>The competencies necessary for self-management and high performance</li>
                                                    <li>What it takes to develop resonant leadership - the foundation for sustainable 21st century organisations</li>
                                                    <li>Harnessing the power of self-awareness and using it as a building block for professional development</li>
                                                    <li>How to cultivate the internal and interpersonal integration necessary to be a wise leader</li>
                                                </ul>
                                            </div>
                                        </div>



                                        <div class="row speaker">
                                            <div class="col-md-4 speaker-photo">

                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1494917934/i90tl9wmaoy2f1fmyc9i.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true" alt="">

                                                <div class="is-social edit">
                                                    <a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
                                                    <a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
                                                    <a href="https://plus.google.com/"><i class="icon ion-social-googleplus" style="margin-right: 1em"></i></a>
                                                    <a href="mailto:you@example.com"><i class="icon ion-ios-email"></i></a>
                                                </div>          
                                            </div>

                                            <div class="col-md-8">

                                                <h1>Rosabeth Moss Kanter</h1>
                                                <h4><b>Strategy</b></h4>
                                                <h4>Harvard Business School Professor and leading expert on strategy, innovation and leadership </h4>
                                                <p><i><b>The Big Change:</b>Forces Reshaping Business</i></p>
                                                <p>
                                                    Rosabeth Moss Kanter holds the Ernest L. Arbuckle Professorship at Harvard Business School, where 
                                                    she specialises in strategy, innovation, and leadership for change. She is also Chair and Director 
                                                    of the Harvard University Advanced Leadership Initiative, an innovation that helps successful 
                                                    leaders at the top of their professions apply their skills to national and global challenges 
                                                    in their next life stage. A collaboration across all of Harvard, the Advanced Leadership 
                                                    Initiative aims to build a new leadership force for the world.
                                                </p>
                                                <p>
                                                    Her latest book, MOVE: Putting America's Infrastructure Back in the Lead, is a sweeping 
                                                    look across industries and technologies shaping the future of mobility and the leadership 
                                                    required for transformation. Her strategic and practical insights guide leaders of large 
                                                    and small organisations worldwide, through her teaching, writing, and direct consultation 
                                                    to major corporations and governments. The former chief Editor of Harvard Business Review, 
                                                    Professor Kanter has been repeatedly named to lists of the "50 most powerful women in the world" 
                                                    (Times of London), and the "50 most influential business thinkers in the world" (Thinkers 50). 
                                                    She has received 24 honorary doctoral degrees, as well as numerous leadership awards, 
                                                    lifetime achievement awards, and prizes. These include the Academy of Management's 
                                                    Distinguished Career Award for scholarly contributions to management knowledge; the 
                                                    World Teleport Association's "Intelligent Community Visionary of the Year" award; the 
                                                    International Leadership Award from the Association of Leadership Professionals; and the 
                                                    Warren Bennis Award for Leadership Excellence.
                                                </p>

                                                <h3>Topics</h3>
                                                <ul>
                                                    <li>The impact of today’s highly networked world on strategy and leadership</li>
                                                    <li>Harnessing the potential of the upcoming strategic, organisational and cultural transformations</li>
                                                    <li>The six facets of organisational logic that will become the building blocks of a more sustainable competitive advantage</li>
                                                    <li>Compelling examples from great companies worldwide that are leading the way to creating innovation, profits, growth and social good</li>
                                                </ul>
                                            </div>
                                        </div>



                                        <div class="row speaker">
                                            <div class="col-md-4 speaker-photo">

                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495082723/hvnyvuvfk40hvni1tlng.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true" alt="">

                                                <div class="is-social edit">
                                                    <a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
                                                    <a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
                                                    <a href="https://plus.google.com/"><i class="icon ion-social-googleplus" style="margin-right: 1em"></i></a>
                                                    <a href="mailto:you@example.com"><i class="icon ion-ios-email"></i></a>
                                                </div>          

                                            </div>

                                            <div class="col-md-8">
                                                <a href="http://www.wbfsydney.com/world-business-forum-sydney-speakers/48-ian-williamson.html">
                                                    <h1>Ian Williamson</h1>
                                                </a>
                                                <h4><b>LEADERSHIP </b></h4>
                                                <h4>Helen Macpherson Smith Chair of Leadership for Social Impact at the Melbourne Business School</h4>
                                                <p><i>Empowering high performance organisations</i></p>
                                                <p>
                                                    Ian Williamson is the Helen Macpherson Smith Chair of Leadership for Social Impact at the Melbourne 
                                                    Business School. He currently serves as the Associate Dean of International Relations at 
                                                    MBS and is also the Director of the Asia Pacific Social Impact Leadership Centre. 
                                                    Examining how organisations recruit, select, and retain knowledge workers, his research 
                                                    focuses on how the development of effective "talent pipelines" can enhance organizational outcomes.
                                                </p>
                                                <p>Ian is the recipient of numerous awards including the Academy of Management Human Resource Division 
                                                    best paper award and the Academy of Management Best Practices Mentoring Award. Ian has also 
                                                    provided consulting services for a wide range of organizations such as ANZ, Etihad Airlines, 
                                                    McCormick &amp; Company, Melbourne Water, PWC, Lockheed Martin and NAB among many others.
                                                </p>
                                                <p>
                                                    In his role as Associate Dean and Director of the Social Impact Leadership Centre, Ian's focus 
                                                    is on developing effective partnerships between the Melbourne Business School and not-for-profit, 
                                                    for profit, philanthropic and government entities for the purposes of addressing key economic 
                                                    and social issues across the Asia Pacific region.
                                                </p>
                                                <h3>Topics </h3>
                                                <ul>
                                                    <li>Barriers organisations face when responding to major external disruptions</li>
                                                    <li>How people management decisions determine whether organisations thrive or fail</li>
                                                    <li>Practical strategies to better prepare your organisations</li>
                                                </ul>
                                            </div>
                                        </div>



                                        <div class="row speaker">
                                            <div class="col-md-4 speaker-photo">

                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1494918607/tbayymdtt0sykcmtzciy.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true" alt="">

                                                <div class="is-social edit">
                                                    <a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
                                                    <a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
                                                    <a href="https://plus.google.com/"><i class="icon ion-social-googleplus" style="margin-right: 1em"></i></a>
                                                    <a href="mailto:you@example.com"><i class="icon ion-ios-email"></i></a>
                                                </div>          

                                            </div>

                                            <div class="col-md-8">

                                                <h1>Mohan Sawhney </h1>
                                                <h4><b>Innovation</b></h4>
                                                <h4>Professor at the Kellogg School of Management</h4>
                                                <p><i><b>Agile Innovation:</b> How to Move Faster, Learn Cheaply and Collaborate Better</i></p>
                                                <p>
                                                    Sawhney is a globally recognized scholar, teacher and consultant in business innovation, 
                                                    technology marketing and new media. A Professor of Technology and the Director of the 
                                                    Center for Research in Technology &amp; Innovation at the Kellogg School of Management, 
                                                    he is the author of six books his most recent -&nbsp;<strong><em>Fewer, Bigger, Bolder: 
                                                    From Mindless Expansion to Focused Growth</em></strong>
                                                </p>
                                                <p>
                                                    Sawhney has been a professor at Kellogg since 1999, during which time he has pioneered 
                                                    concepts like e-Hubs, community-centric innovation, innomediation, metamarkets and 
                                                    network-centric innovation. He has also been named as one of the 25 most influential 
                                                    people in e-Business by BusinessWeek. In his latest book, co-authored with Sanjay 
                                                    Khosler, Sawhney focuses on how companies can achieve the focused and sustainable 
                                                    growth which is essentially to organisational health.
                                                </p>
                                                <p>
                                                    In addition to his teaching and research, Sawhney advises and speaks to Global 2000 
                                                    firms and governments worldwide, with clients including Adobe Systems, Cisco Systems, 
                                                    DuPont, Goldman Sachs, Honeywell, Johnson &amp; Johnson, Kellogg Company, Kraft 
                                                    Foods and Sony among many others. He has won several awards for his teaching and 
                                                    research, and has been nominated by students as one of the top 5 professors at Kellogg.
                                                </p>

                                                <h3>Topics</h3>
                                                <p>In a world where disruption is accelerating and markets are evolving rapidly, 
                                                    innovation is the only sustainable competitive advantage. But innovation also 
                                                    needs to be innovated upon. The classical innovation approach that relies on 
                                                    deliberate planning and “getting it right the first time” is no longer viable. 
                                                    The innovation process in a dynamic business environment needs to be accelerated 
                                                    and it needs to be more adaptable. This is Agile Innovation – an innovation 
                                                    culture that embraces experimentation, an innovation process that consists of 
                                                    rapid iterative learning and an innovation organisation that relies on 
                                                    collaboration inside and outside the company.&nbsp; We will outline the 
                                                    principles of Agile Innovation and examine its key building blocks – from 
                                                    culture and mindset to process and execution to organisation and people. 
                                                    We will learn from the leaders in Agile Innovation in a variety of industries 
                                                    and markets. We will conclude with a clear call to action for business leaders 
                                                    to transform their companies into Agile Innovators.
                                                </p>
                                                <ul>
                                                    <li>Collaborative innovation: Consolidating a new customer-centered paradigm</li>
                                                    <li>Connect and engage your customers (and their networks): How to make the most of their experience with your brand, product or service</li>
                                                    <li>On networks, social media and customer generated ideas</li>
                                                    <li>Creating the portfolio of collaborative innovation tools your company needs</li>
                                                </ul>

                                            </div>
                                        </div>

                                            
                                        <div class="row clearfix">
                                            
                                        </div>


                                        <div class="row speaker">
                                            <div class="col-md-4 speaker-photo">

                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1494917934/e2xqiuo3tthlnnbn3m2q.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true" alt="">

                                                <div class="is-social edit">
                                                    <a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
                                                    <a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
                                                    <a href="https://plus.google.com/"><i class="icon ion-social-googleplus" style="margin-right: 1em"></i></a>
                                                    <a href="mailto:you@example.com"><i class="icon ion-ios-email"></i></a>
                                                </div>          

                                            </div>

                                            <div class="col-md-8">
                                                <h1>Jimmy Wales</h1>
                                                <h4><b>Disruption</b></h4>
                                                <h4>Founder of Wikipedia</h4>
                                                <p><i>Business in a Connected and Collaborative World</i></p>
                                                <p>
                                                    Jimmy Wales is a U.S. Internet entrepreneur, wiki pioneer, and technology 
                                                    visionary, who is best known as the founder of Wikipedia - currently 
                                                    the fifth most popular website in the world. Named one of Time magazine's 
                                                    "100 Most Influential People," Jimmy Wales was also acknowledged by the 
                                                    World Economic Forum as one of the top 250 leaders across the world for 
                                                    his professional accomplishments, his commitment to society, and his 
                                                    potential to contribute to shaping the future of the world.
                                                </p>
                                                <p>
                                                    The origins of Wikipedia began in March 2000, when Wales started Nupedia 
                                                    ("the free encyclopedia"), which was characterized by an extensive 
                                                    peer-review process. With the addition of wikis (a collection of web 
                                                    pages designed to enable anyone who accesses it to contribute or modify 
                                                    content), the project was dubbed "Wikipedia" with the goal to create a 
                                                    world in which "every single person on the planet is given free access 
                                                    to the sum of all human knowledge". In 2003 Wales established the 
                                                    Wikimedia Foundation to oversee his expanding online enterprises. 
                                                    He extended the wiki model to several other projects, including Wiktionary 
                                                    and Wikinews. In 2004 he cofounded with Angela Beesley the for-profit Wikia, 
                                                    Inc.
                                                </p>

                                                <h3>Topics</h3>
                                                <ul>
                                                    <li>Threats and opportunities for business in a globally connected world with free access to human knowledge</li>
                                                    <li>How organizations must adapt to compete and innovate in a world that is increasingly open and collaborative</li>
                                                    <li>Rethinking how businesses need to interact with employees, customers, distributors, suppliers and the public</li>
                                                    <li>A look at the technologies that will lie at the heart of the next wave of business disruption</li>
                                                </ul>
                                            </div>
                                        </div>


                                        <div class="row speaker">

                                            <div class="col-md-4 speaker-photo">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1494916691/vzseeakpy5lg608xif3w.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true" alt="">

                                                <div class="is-social edit">
                                                    <a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
                                                    <a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
                                                    <a href="https://plus.google.com/"><i class="icon ion-social-googleplus" style="margin-right: 1em"></i></a>
                                                    <a href="mailto:you@example.com"><i class="icon ion-ios-email"></i></a>
                                                </div>          
                                            </div>

                                            <div class="col-md-8">

                                                <h1>Arianna Huffington</h1>
                                                <h4><b>New Management </b></h4>
                                                <h4>Founder of The Huffington Post, and Founder and CEO of Thrive Global</h4>
                                                <p><i>Redefining Success in a Fast-Moving World</i></p>
                                                <p>
                                                    Arianna Huffington is the founder of The Huffington Post, the founder and 
                                                    CEO of Thrive Global, and the author of 15 books, including, most 
                                                    recently,&nbsp;<em>Thrive</em>&nbsp;and&nbsp;<em>The Sleep Revolution.</em>
                                                </p>
                                                <p>
                                                    In May 2005, she launched The Huffington Post, a news and blog site that quickly 
                                                    became one of the most widely-read, linked to, and frequently-cited media brands 
                                                    on the Internet, and in 2012 won a Pulitzer Prize for national reporting. 
                                                    In August 2016, she launched Thrive Global, a corporate and consumer 
                                                    well-being and productivity platform with the mission of changing the way 
                                                    we work and live by ending the collective delusion that burnout is the 
                                                    price we must pay for success.Thrive Global provides trainings, seminars, 
                                                    e-courses, coaching and ongoing support based on the latest scientific 
                                                    findings to improve people’s health and increase productivity for both 
                                                    companies and individuals around the world.
                                                </p>
                                                <p>
                                                    She has been named to&nbsp;<em>Time Magazine</em>'s list of the world’s 100 
                                                    most influential people and the&nbsp;<em>Forbes</em>&nbsp;Most Powerful Women 
                                                    list. Originally from Greece, she moved to England when she was 16 and graduated 
                                                    from Cambridge University with an M.A. in economics. At 21, she became 
                                                    president of the famed debating society, the Cambridge Union.
                                                </p>
                                                <p>
                                                    She serves on numerous boards, including Uber and The Center for Public Integrity.
                                                </p>
                                                <p>
                                                    Her last two books,&nbsp;<em>Thrive: The Third Metric to Redefining Success and Creating 
                                                    a Life of Well-Being, Wisdom, and Wonder&nbsp;</em>and<em>&nbsp;The Sleep Revolution: 
                                                    Transforming Your Life, One Night At A Time</em>, on the science, history and 
                                                    mystery of sleep, both became instant international bestsellers.</p>

                                                <h3>Topics</h3>
                                                <ul>
                                                    <li>Beyond money and power: Introducing a third metric in measuring success</li>
                                                    <li>Reducing stress and boosting productivity in today's fast-paced, connected world</li>
                                                    <li>The challenges of time management: Keys to juggling multiple priorities simultaneously</li>
                                                    <li>How 'leaning back' makes for wiser leaders</li>
                                                    <li>Creating an organisational culture fit to thrive in a constant state of beta</li>
                                                    <li>The discussion examines women and diverse work places as an enabler for increased productivity within organisations.</li>
                                                </ul>
                                            </div>
                                        </div>



                                        <div class="row">

                                            <div class="col-md-12 diversity-head">

                                                <h1><b>Diversity Panel</b></h1>
                                                <p>
                                                    Melbourne Business School Associate Dean Jody Evans&nbsp;will 
                                                    facilitate a discussion with prominent Australian leaders.
                                                </p>

                                            </div>

                                        </div>

                                                            

                                        <div class="row diversity">
                                            <div class="col-md-4 speaker-photo">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495082723/gwx5yimn4qfos2ibjx3c.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true" alt="">

                                                <div class="is-social edit">
                                                    <a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
                                                    <a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
                                                    <a href="https://plus.google.com/"><i class="icon ion-social-googleplus" style="margin-right: 1em"></i></a>
                                                    <a href="mailto:you@example.com"><i class="icon ion-ios-email"></i></a>
                                                </div>          

                                            </div>

                                            <div class="col-md-8">

                                                <h1>Angela Mentis</h1>
                                                <p>Angela has extensive business, retail, investment banking and wealth management experience 
                                                    spanning more than 29 years. In 2016, Angela was appointed NAB's Chief Customer Officer, 
                                                    Business &amp; Private Banking. In this role, Angela leads NAB's Business and specialist 
                                                    Agriculture, Health and Government &amp; Education teams, along with Business Direct &amp; 
                                                    Small Business, NAB's Private Bank and JBWere divisions. Angela is passionate about diversity 
                                                    and cultural inclusiveness in the workplace, starting with the recruitment process.
                                                </p>
                                            </div>
                                        </div>



                                        <div class="row diversity">
                                            <div class="col-md-4 speaker-photo">

                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495082723/ljkczeiqnfcv6r17vuag.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">
                                                <div class="is-social edit">
                                                    <a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
                                                    <a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
                                                    <a href="https://plus.google.com/"><i class="icon ion-social-googleplus" style="margin-right: 1em"></i></a>
                                                    <a href="mailto:you@example.com"><i class="icon ion-ios-email"></i></a>
                                                </div>          

                                            </div>

                                            <div class="col-md-8">

                                                <h1>Ashley Winnett </h1>

                                                <p>
                                                    Winner of the LinkedIn Conscious Business Leadership Award 2016, Management Maestro – Ashley is not your 
                                                    typical HR Director. Joining the Holden legal team in 2005, he went on to hold various roles 
                                                    within the HR team including Director – Manufacturing &amp; Labour Relations, during the GFC. 
                                                    In 2014 he was appointed to the Holden Board and is now Executive Director – People, 
                                                    Performance &amp; Culture, where he is an active and vocal positive disruptor across 
                                                    the business. Prior to Holden, Ashley was a Partner at Norton Rose Fulbright in their 
                                                    Workplace Relations Practice and holds a Bachelor of Law and Arts (Hons)
                                                </p>
                                            </div>
                                        </div>



                                        <div class="row diversity">
                                            <div class="col-md-4 speaker-photo">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495082907/uoxnfagnzauqrfnvquxe.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">

                                                <div class="is-social edit">
                                                    <a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
                                                    <a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
                                                    <a href="https://plus.google.com/"><i class="icon ion-social-googleplus" style="margin-right: 1em"></i></a>
                                                    <a href="mailto:you@example.com"><i class="icon ion-ios-email"></i></a>
                                                </div>         

                                            </div>

                                            <div class="col-md-8">
                                                <h1>Jody Evans </h1>
                                                <p>
                                                    Jody has an outstanding track record in engaged research and uses&nbsp;marketing 
                                                    acumen and capabilities to address important challenges&nbsp;in industry, government, 
                                                    arts and social contexts. Jody has extensive&nbsp;advisory and management development 
                                                    experience in multiple&nbsp;sectors. She leads market research, strategic reviews and 
                                                    management&nbsp;development seminars and workshops. Partner organisations 
                                                    include&nbsp;BP Australia, Australia Post, Australia Council for the Arts, 
                                                    Museum&nbsp;Victoria and more.
                                                </p>
                                            </div>
                                        </div>


                                        <div class="row diversity">
                                            <div class="col-md-4 speaker-photo">
                                                <img src="https://res.cloudinary.com/cognitives/image/upload/v1495082908/vpyq6axcrawuuxhcgkvh.jpg" style="border-radius:500px; margin-top: 1em" data-pin-nopin="true">

                                                <div class="is-social edit">
                                                    <a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
                                                    <a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
                                                    <a href="https://plus.google.com/"><i class="icon ion-social-googleplus" style="margin-right: 1em"></i></a>
                                                    <a href="mailto:you@example.com"><i class="icon ion-ios-email"></i></a>
                                                </div>         

                                            </div>

                                            <div class="col-md-8">
                                                <h1>Christine Corbett</h1>
                                                <p>
                                                    As the Chief Customer Officer at Australia Post, Christine is responsible&nbsp;for 
                                                    creating the experiences that customers love and advocating&nbsp;for customers across 
                                                    the enterprise. Christine is also responsible&nbsp;for brand, marketing, customer 
                                                    insights, community and corporate&nbsp;social responsibility teams as well as the 
                                                    consumer and small business&nbsp;segment. A champion for diversity and inclusion, 
                                                    under her leadership&nbsp;she has both increased the representation of women in 
                                                    management&nbsp;roles in the retail and mail network businesses, and the 
                                                    representation&nbsp;of Aboriginal and Torres Strait Islanders within her 
                                                    workforce through&nbsp;dedicated traineeships.
                                                </p>

                                                <p><b>The discussion examines women and diverse work places as an enabler for increased productivity within organisations.</b></p>
                                                                                                
                                                <h3>Topics</h3>
                                                <ul>
                                                    <li>Why incorporating Diversity &amp; Inclusion is a critical component of your organisation's corporate culture</li>
                                                    <li>Why are organisations still slow to adapt and benefit from the evidence that shows organisations with diverse boards, management teams and workforces outperform those that do not?</li>
                                                    <li>How to measure the impact of a diverse, inclusive and culturally competent workforce</li>
                                                    <li>Where to from here?</li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {# {{page.content | raw}} #}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>