{{ set(this, 'title', 'Search - ' ~ search) }}

{{this.registerJs("SearchController.listing();")}}

{% set limit = 20 %}
{% set articles = _Search.searchArticles({'limit': limit, 'offset': 0, 'search': search}) %}
{% set networkData = _Network.getNetworkData() %}




<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}


    <main id="main" class="site-main searchPage" role="main">
    


        <section class="card-group">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <h1>{{this.title}}</h1>
                    </div>
                </div>





                
                <div class="row">

                    {% for i in 0..12 %}
                        {% if articles[i] %}                                                                
                            {{this.render('partials/_single-article.twig', {article: articles[articleCount], position: (articleCount+1), containerClass: 'col-sm-4 card-sm s360x215'}) | raw}}
                            {% set articleCount = articleCount + 1 %}
                        {% endif %}
                    {% endfor %}

                </div><!-- .row-->
            </div><!-- .container-->
        </section><!-- .top-stories-->


    </main><!-- .site-main -->

