{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}



    <main id="main" class="site-main" role="main">
        <article class="article-main">
            <div class="container">
                <div class="content about">
                    <h1 class="aboutpage">Supporter funding campaign</h1>

                    <p>
                        Newsroom exists to serve New Zealanders by being an independent media voice producing quality, agenda-setting journalism that is valuable to our democracy, not just to shareholders.
                    </p>
                    <p>
                        To help us achieve this, we’re inviting you to become a founding supporter by contributing to our new crowdfunding campaign. We’re giving you the freedom to choose your own amount, and whether you’d like to make a one-time or monthly contribution.
                    </p>
                    <p>
                        If you share our mission, we’d love to have you join us on this journey as a monthly supporter. We believe that recurring contributions will help fuel our sustainability into the future, allowing us to fund ongoing expenses such as paying journalists and expanding our coverage.
                    </p>
                    <p>
                        By making a contribution you will become a pivotal partner in our news organisation, alongside our existing team of forward-thinking and community-conscious partners who have helped us to catalyse the Newsroom project.
                    </p>
                    <p>
                        If you’d like to come on board as a founding supporter, simply click the red button below. Thanks for believing in our mission. We’re excited to have you join us on this journey.
                    </p>
                    <p>
                        Best<br>Tim, Mark and the team at Newsroom
                    </p>
                    
                    <div id="pp-donate-button"></div>

                    <figure>
                        <img src="{{networkData.templatePath}}/static/images/headshots/supporterspage.jpg" alt="Tim and Mark from Newsroom" class="img-responsive">
                    </figure>


                    <p>
                        <i>PS: We understand that some people won’t be able to contribute. That’s OK, we’re strong believers in the impact of quality journalism and will continue to provide free access to powerful stories that matter.</i>
                    </p>


                    <h1>Useful information</h1>
                    
                    <p>
                        We recommend reading the sections below for more information about Newsroom and our funding campaign.
                    </p>
                    
                    <h2>What platform are you using for contributions?</h2>
                    <p>
                        We’ve partnered with PressPatron, a Kiwi crowdfunding platform that makes it easy to support blogs and journalism websites. They launched in February, and share our vision of putting quality journalism first. Please be aware that PressPatron is at the beta stage of its launch, and their team are continuing to make improvements. Their platform is fully functional, but you might notice some minor bugs. They’d love to hear your feedback at: <a href="https://presspatron.com/contact">presspatron.com/contact</a>
                    </p>
                    
                    <h2>Is my payment secure?</h2>
                    <p>
                        Payments made via PressPatron are securely processed using an SSL connection with 256-bit AES encryption. The underlying payment infrastructure is provided by <a href="https://stripe.com/au">Stripe</a>, a leader in online payments that provides credit card processing for companies such as Facebook, Twitter, Xero, Kickstarter, and others.
                    </p>

                    <p>
                        All credit card data is encrypted and Stripe maintains strict administrative, technical, and physical procedures to protect your information. More info about Stripe’s security policies can be viewed <a href="https://stripe.com/docs/security/stripe">here</a>. PressPatron does not collect or store your credit card number within its own database.
                    </p>

                    <h2>How can I manage my payment preferences?</h2>

                    <p>
                        Once you have contributed, you will be given the option of creating a PressPatron account to manage your payment preferences. Your supporter dashboard will provide you an overview of your contributions, as well as an interface for editing your payment details. If you already have an account, you can login here: <a href="https://www.presspatron.com/login">www.presspatron.com/login</a>
                    </p>

                    <h2>How is this different to Newsroom Pro?</h2>

                    <p>
                        Newsroom Pro is our premium subscription service for large-scale clients, including corporate and enterprise-level businesses, government departments, councils, non-governmental organisations, and the like. Newsroom Pro provides paid subscribers with premium media intelligence, breaking news, and insights into market developments in real-time.
                    </p>
                    <p>
                        By contrast, our PressPatron funding campaign is focused on supporting the public version of the Newsroom website, which contains stories that are freely accessible to anyone. Contributions are completely voluntary, and support us in our mission to provide all New Zealanders with free access to quality journalism.
                    </p>

                    <h2>Got any other questions?</h2>

                    <p>
                        Let us know by emailing: <a href="mailto:contact@newsroom.co.nz">contact@newsroom.co.nz</a>
                    </p>
                </div>
            </div><!-- .container -->
        </article><!-- .article-main -->
    </main><!-- .site-main -->
