//Bootstrap
@import "variables";
@import "bootstrap";
@import "functions";
@import "bootbox";
@import "font-awesome-4.7.0/scss/font-awesome";
@import "mixins";
@import "login";

@import "profile";
@import "user_profile";
@import "user_posts";
// @import "profile-admin";
@import "modal";
@import "menu";



//Partials
@import "common";
@import "icons";
@import "placeholder";
@import "social-links";
@import "advertisements";
@import "sidebar-news";
@import "most-popular";
@import "site-footer";
@import "page-hero";

//Header
@import "primary-menu";
@import "site-header";

//Home page
@import "slider";
@import "top-stories";
@import "page-index";



// MODAL
// @import "social-modal";


//Article page
@import "article";

//Section page
@import "section-page";

//Static Pages
@import "page-about";
@import "page-contact";
@import "page-supporters";
@import "screen";
@import "page-agenda";
@import "page-speakers";
@import "page-livestream";


//Cards
@import "card";
@import "card-slider";
@import "card-rec";
@import "card-sm";
@import "card-sm-screen";
@import "card-vr";
@import "card-lg";
@import "card-lg-screen";
@import "card-view-featured";
@import "card-future";